
$pink : #e84393;
$black : #333;
$white : #fff;
$light-color : #666;
$light-bg : #eee;
$border : .2rem solid $black;
$light-border : .2rem solid $light-color;
$shadow : 0 .5rem 1rem rgba(0, 0, 0, .1);